body {
	background-color: #000;
	background-image: url(http://2.bp.blogspot.com/-rwZgxeSQNKY/UC3oPH4FPwI/AAAAAAAAClE/wRaX7Oum3Us/s640/rain.gif);
  background-size: 100%;
  background-repeat: no-repeat;
	color: #fff;
	font-family: Arial;
	
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #000;
	margin: 0 auto;
	padding: 5%;
	background-image: url(http://2.bp.blogspot.com/-rwZgxeSQNKY/UC3oPH4FPwI/AAAAAAAAClE/wRaX7Oum3Us/s640/rain.gif);
}

.box {
background-color: fff; 
width: 150px; 
border: 1px solid #9325BC; 
padding: 10px; } 

.box:hover
{ -moz-box-shadow: 0 0 10px #ccc;
 -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc; 
} 


header h1 {
	text-align: right;
	margin-right: 10px;
}

nav {
	background-color: #000;
	padding: 10px;
}


nav ul {
	list-style-type: none;
	text-align: center;
}



nav ul li {
	display: inline-block;
	margin: 0 5px;
	font-size: 20px;
}


div {
  border-radius:50%;
  position:absolute;
  top:70%; left:75%;
}
div:nth-of-type(odd) { background:black; }
div:nth-of-type(even) { background:white; border:2px solid black; }
div:nth-of-type(11) {
  height:10px; width:10px;
  margin-top:-5px; margin-left:-5px;
  -webkit-animation:slide 3s ease-in-out infinite;
  animation:slide 3s ease-in-out infinite;
}
div:nth-of-type(10) {
  height:20px; width:20px;
  margin-top:-12px; margin-left:-12px;
  -webkit-animation:slide 3s -2.7s ease-in-out infinite;
  animation:slide 3s -2.7s ease-in-out infinite;
}
div:nth-of-type(9) {
  height:40px; width:40px;
  margin-top:-20px; margin-left:-20px;
  -webkit-animation:slide 3s -2.4s ease-in-out infinite;
  animation:slide 3s -2.4s ease-in-out infinite;
}
div:nth-of-type(8) {
  height:60px; width:60px;
  margin-top:-32px; margin-left:-32px;
  -webkit-animation:slide 3s -2.1s ease-in-out infinite;
  animation:slide 3s -2.1s ease-in-out infinite;
}
div:nth-of-type(7) {
  height:80px; width:80px;
  margin-top:-40px; margin-left:-40px;
  -webkit-animation:slide 3s -1.8s ease-in-out infinite;
  animation:slide 3s -1.8s ease-in-out infinite;
}
div:nth-of-type(6) {
  height:100px; width:100px;
  margin-top:-52px; margin-left:-52px;
  -webkit-animation:slide 3s -1.5s ease-in-out infinite;
  animation:slide 3s -1.5s ease-in-out infinite;
}
div:nth-of-type(5) {
  height:120px; width:120px;
  margin-top:-60px; margin-left:-60px;
  -webkit-animation:slide 3s -1.2s ease-in-out infinite;
  animation:slide 3s -1.2s ease-in-out infinite;
}
div:nth-of-type(4) {
  height:140px; width:140px;
  margin-top:-72px; margin-left:-72px;
  -webkit-animation:slide 3s -0.9s ease-in-out infinite;
  animation:slide 3s -0.9s ease-in-out infinite;
}
div:nth-of-type(3) {
  height:160px; width:160px;
  margin-top:-80px; margin-left:-80px;
  -webkit-animation:slide 3s -0.6s ease-in-out infinite;
  animation:slide 3s -0.6s ease-in-out infinite;
}
div:nth-of-type(2) {
  height:180px; width:180px;
  margin-top:-92px; margin-left:-92px;
  -webkit-animation:slide 3s -0.3s ease-in-out infinite;
  animation:slide 3s -0.3s ease-in-out infinite;
}
div:nth-of-type(1) {
  height:200px; width:200px;
  margin-top:-100px; margin-left:-100px;
  -webkit-animation:slide 3s ease-in-out infinite;
  animation:slide 3s ease-in-out infinite;
}
@keyframes slide {
  0% { left:75% }
  50% { left:25%; }
  100% { left:75%; }
}
@-webkit-keyframes slide {
  0% { left:75% }
  50% { left:25%; }
  100% { left:75%; }
}


